@page "/test"
@layout CCPLayout
@using CCP.Shared.UIContext
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]
@inject IUIUserContext UserContext
@inject AuthenticationStateProvider AuthenticationStateProvider
<div>
    <h3>Role Tests</h3>
    <p>Current user: @UserContext.UserId</p>
    <p>Current role: @UserContext.Role</p>
    <p>email: @UserContext.Email</p>
    <p>tenantId: @UserContext.OrganizationId</p>
    <p>role: @UserContext.Role</p>
    <p>roles: @string.Join(", ", UserContext.Roles)</p>
</div>

<div>
    <h4>Claims</h4>
    @foreach (var claim in AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Claims)
    {
        <div>@claim.Type: @claim.Value</div>
    }
</div>


@code {

}
